/* Applied Throughout Webpage */
body {
  margin: 0; 
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr; 
  grid-template-rows: repeat(2, 1fr); 
  min-height: 25rem; 
  min-width: 20rem;
}

/*HEADER Styling*/
header {
  grid-column: 1 / 2; 
  grid-row: 1 / 2;
  background-color: #E5F3F2; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30%;
  min-height: 20rem;
  /*padding: 1.1rem 1.1rem 1.1rem 1.3rem;*/
  width: 100%;
}


h1 {
  font-family: 'Roboto Slab', serif;  
  text-align: center;
  font-size: 2rem; 
}

.title-idea {
  color: #00A79D;
}

.title-box {
  color: #6D6E71;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /*height: 20rem;*/
  width: 50%; 
  margin: 1rem auto 0 auto;
}

.form-input {
  border: .125em solid #D1D3D4;
  color: #D1D3D4;
  font-family: "Open Sans", sans-serif;
  font-size: 12pt;
  font-weight: 600;
  padding: 0.125em 0.5em;
  margin-bottom: 1em;
  width: 96%;
}

.input-title {
  height: 2em;
}

.input-body,
.input-search {
  /*height: 5em;*/
  resize: none;
}

input::placeholder,
textarea::placeholder {
  color: #D1D3D4;
  font-size: 16pt;
}

.save-button {
  background-color: #00A79D;
  border: none;
  color: #FFFFFF;
  font-size: 12pt;
  height: 2em;
  margin-bottom: 1em;
  width: 100%;
}

.save-button:hover {
  background-color: #045E55;
}

/*MAIN Styling*/

.input-search {
  font-size: 12pt;
  width: 50%;
  height: 2.5em;
  margin-top: 1em;
}

section {
  margin-top: 1rem; 
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

/* Idea Card */
.idea-box {
  height: 9.5rem;
  margin: 1rem auto;
  border-bottom: 1px solid #939598; 
  justify-content: center;
  align-items: center;
  width: 50%;
}


/* Idea Buttons */
.vote-buttons, .delete-button {
  height: 1.5rem;
  width: 1.5rem;
  /*display: inline-block;*/
}

.delete-button:hover .delete-hover {
  height: 1.5rem;
  width: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

h3, 
p,
.quality {
  margin: 0.5rem 0 0.5rem 0;
}

.title-container,
.vote-container,
.quality-description {
  color: #6D6E71;
}

.title-container,
.vote-container {
  font-family: 'Roboto Slab', serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-container {
  
}

p,
.quality-description {
  font-family: 'Open Sans', sans-serif;
}

p {
  color: #939598;
}

.vote-container {
  width: 30%;
}
















